<div class="row row-header">
  <div class="col-9">
    <h3>Lista de tareas</h3>
  </div>
  <div class="col-3 text-right">
    <a routerLink="/tareas/nueva" class="btn btn-primary"
      >Crear nueva tarea</a
    >
  </div>
</div>
<div class="row row-listado">
  <div *ngFor="let tarea of tareas" class="card col-3">
    <div class="card-body card-{{ tarea.status }}">
      <p class="card-title">{{ tarea.title }}</p>
      <span class="badge badge-{{tarea.status}}">{{ tarea.status }}</span>
      <p class="card-text">{{ tarea.description }}</p>
      <div class="menu">
        <a class="menu--item menu--editar" (click)="editarTarea(tarea.id)">
          <fa-icon [icon]="faEdit"></fa-icon>
        </a>
        <a class="menu--item menu--eliminar" (click)="eliminarTarea(tarea)">
          <fa-icon [icon]="faTrashAlt"></fa-icon>
        </a>
      </div>
    </div>
  </div>
</div>
