<div class="row justify-content-center wrapper-login align-items-center">
  <form class="col-4 wrapper-form" (ngSubmit)="login()" [formGroup]="grupo">
      <h2 class="text-center"><fa-icon [icon]="faIdBadge"></fa-icon> Taskapp</h2>
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        formControlName="username"
        placeholder="Ingrese su nombre de usuario"
      />

    </div>
    <div class="form-group">
      <input
        type="password"
        class="form-control"
        formControlName="password"
        placeholder="Ingrese su password"
      />
      <span class="icon is-small is-left">
        <fa-icon [icon]="faLock"></fa-icon>
      </span>
    </div>
    <div class="text-center">
      <button class="btn btn-primary" [disabled]="grupo.invalid">Ingresar</button>
    </div>
  </form>
</div>
