.wrapper-nav {
  background: #fff;
  margin: 30px 30px 0;
  border-radius: 5px 5px 0 0;
  //overflow: hidden;
  box-shadow: 5px 12px 10px -5px #0555a5;
  form {
    input {
      border-radius: 20px;
    }
    .btn-buscar {
      border-radius: 50%;
    }
  }
  .navbar ul.nav {
    padding: 0;
    a {
      padding: 0.8rem 1rem;
    }
  }
}
.wrapper-all {
  background: #fff;
  margin: 0 30px 10px;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
  height: 82vh;
  box-shadow: 5px 12px 10px -5px #0555a5;
}
.navbar {
  padding: 0;
  margin: 0;
}
.navbar-brand {
  padding: 0;
  margin: 0;
  background: #052586;
  height: 100%;
}
.form-inline {
  padding: 10px 0;
}
.user {
  padding: 0;
  .dropdown-toggle {
    .icon {
      display: block;
      font-size: 26px;
      padding: 7px 4px 0 14px;
    }
    &:after {
      position: absolute;
      right: 7px;
      top: 24px;
    }
  }
}
.sidebar {
  //background: url('../../assets/images/bg1.png') #052586;
  background: #052586;
  background-size: cover;
  color: #fff;
  padding: 0;
  .menu-lateral {
    .nav-item {
      a.nav-link {
        font-size: 12px;
        //text-transform: uppercase;
        color: #a9d0fb;
        line-height: 28px;
        fa-icon {
          width: 22px;
          height: 28px;
          display: inline-block;
          font-size: 14px;
          text-align: center;
        }
        &:hover {
          color: #fff;
          background-color: rgba(2, 22, 80, 0.7);
        }
      }
    }
  }
}
.body-main {
  background-color: whitesmoke;
}
.credits {
  padding: 0 15px;
  margin: 0;
  color: #a9d0fb;
  font-size: 10px;
  line-height: 12px;
  position: relative;
  .developAngular {
    position: absolute;
    right: 20px;
    top: 0;
    font-size: 13px;
  }
}
