.wrapper-nav {
  background: #fff;
  margin: 30px 30px 0;
  border-radius: 10px 5px 0 0;
  //overflow: hidden;
  box-shadow: 5px 12px 10px -5px #0555a5;
  .logoHome {
    width: 28px;
    border-radius: 50%;
    margin: 17px 8px 0 15px;
  }
  .logoText {
    color: #fff;
    position: absolute;
    top: 12px;
    font-family: 'Aladin', cursive;
    font-size: 24px;
  }
  .fechaApp{
    fa-icon{
      font-size: 14px;
      color:#007bff;
    }
    .time{
      line-height: 46px;
      font-size: 12px;
      color:#6c757d;
    }
  }
  form {
    input {
      border-radius: 20px;
    }
    .btn-buscar {
      border-radius: 50%;
    }
  }
  .navbar ul.nav {
    padding: 0;
    a {
      padding: 0.7rem 1rem 0;
      fa-icon {
        font-size: 14px;
      }
    }
    .nav-item:not(.nav-redes) {
      .nav-link {
        //background-color: #e6f2ff;
        border-radius: 50%;
        margin-top: 12px;
        width: 26px;
        height: 26px;
        padding: 0px 6px;
        border: 1px solid #007bff;
        &:hover{
          background-color: #007bff;
          fa-icon{
            color: #fff;
          }
        }
      }
    }
    .nav-redes {
      margin-right: 15px;
      a {
        padding: 0.9rem 0.3rem 0;
        color: #bbbbbb;
        &:hover {
          color: #007bff;
        }
      }
      fa-icon {
        font-size: 16px;
      }
    }
  }
}
.wrapper-all {
  background: #fff;
  margin: 0 30px 8px;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
  height: 82vh;
  box-shadow: 5px 12px 10px -5px #0555a5;
}
.navbar {
  padding: 0;
  margin: 0;
}
.navbar-brand {
  padding: 0;
  margin: 0;
  background: #052586;
  height: 100%;
  border-radius: 5px 0 0;
}
.form-inline {
  padding: 10px 0;
}
.user {
  padding: 0;
  .dropdown-toggle {
    .icon {
      display: block;
      font-size: 26px;
      padding: 7px 4px 0 14px;
    }
    &:after {
      position: absolute;
      right: 7px;
      top: 24px;
    }
  }
  .dropdown-item {
    cursor: pointer;
  }
}
.sidebar {
  //background: url('../../assets/images/bg1.png') #052586;
  background: #052586;
  background-size: cover;
  color: #fff;
  padding: 25px 0 0;
  .menu-lateral {
    .nav-item {
      a.nav-link {
        font-size: 12px;
        //text-transform: uppercase;
        color: #a9d0fb;
        line-height: 28px;
        fa-icon {
          width: 22px;
          height: 28px;
          display: inline-block;
          font-size: 14px;
          text-align: center;
        }
        &:hover {
          color: #fff;
          background-color: rgba(2, 22, 80, 0.7);
        }
        .badge {
          line-height: 15px;
          height: 17px;
          margin: 5px 0;
          color: #b3d7ff;
          background-color: #1976d2;
        }
      }
    }
  }
}
.body-main {
  background-color: whitesmoke;
}
.credits {
  padding: 0 15px;
  margin: 0;
  color: #a9d0fb;
  font-size: 9px;
  line-height: 12px;
  position: relative;
  .developAngular {
    position: absolute;
    right: 20px;
    top: 0;
    font-size: 12px;
  }
}
